body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    width: 800px;
    margin-left: calc(50% - 400px);
    display: inline-block;
    float: left;
    margin-top: 20px; 
}
.container:first-child {
    margin-top: 30px;
}
.menu {
    height: 20px;
    float: left;
    display: inline-block;
}
.bulb {
    display: inline-block; 
    float: left;
    margin-top: 20px;
    width: 300px;
    height: 340px;
}
.right-col {
    width: 500px;
    display: inline-block; 
    float: left; 
    display: inline-block;
}
.num404 {
    width: 440px;
    margin-left: 30px;
    display: inline-block;
}
.line {
    font-family:sans-serif;
    display: inline-block;
    margin-left: 125px;
    float: left;
}
.line:first-of-type {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.line:last-of-type {
    font-size: 14px;
    margin-top: 0;
}
.container:last-child {
    margin-top: 10px;
}
.goto-txt {
    font-size: 16px;
    margin: 0px;
    margin-left: 425px;
    display: inline-block;
    float: left;
    text-transform: uppercase;
}
.arrow {
    display: block;
    font-size: 16px;
    line-height: 14px;
    text-decoration: none;
    padding: 0;
    float: left;
    margin-left: 30px;
}